<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>Fraunces-Italic.ttf</string>
		<string>Fraunces-LightItalic.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>Fraunces-SemiBoldItalic.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.ytalebanon.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ytalebanon</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>org.ytalebanon.app.refresh</string>
	</array>
</dict>
</plist>
